@value colors: "@/colors.css";
@value light-teal, lime, dark-green, light-lime, dark-teal-indigo from colors;

.project {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: dark-green;
  border-radius: 1rem;
  padding: 1.5rem 0.25rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  text-align: center;
}

.featured-svg {
  width: 5rem;
  height: 5rem;
  top: -4rem;
  left: -1rem;
}

.project-link {
  font-weight: 700;
  padding: 0 0.75rem;
  flex: 1;
}

.project-link-title {
  font-size: 1.5rem;
  transition: all 300ms cubic-bezier(0.65, 0.09, 0.5, 0.97);
  text-decoration-line: underline;
  color: lime;
}

.project-image-container {
  position: relative;
  overflow: hidden;
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 0.5rem;
}

.project-image-overlay {
  position: relative;
  opacity: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 300ms ease-out;
  z-index: 1;
  pointer-events: none;
}

.project-image-overlay::before {
  content: "";
  position: absolute;
  background: dark-teal-indigo;
  opacity: 75%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-image-overlay > svg {
  width: 4rem;
  height: 4rem;
  color: lime;
  filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
  z-index: 1;
}

.project-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 300ms cubic-bezier(0.65, 0.09, 0.5, 0.97);
}

.text-block {
  flex: 1;
}

.description {
  padding: 0.25rem 1rem;
  margin: 0.5rem auto;
  text-align: left;
}

.text-block .skills-list {
  justify-content: center;
  gap: 0.25rem;
  margin: 0.75rem;
}

.text-block .skills-list button {
  padding: 0 0.25rem;
  font-weight: 400;
}

.swap-text {
  position: relative;
  margin-bottom: 1rem;
}

.visit-link {
  position: relative;
  margin-top: 0.5rem;
}

.no-link {
  display: inline-block;
  margin-top: 0.5rem;
  padding: 0.25rem;
}

.see-details-text {
  position: absolute;
  padding: 0.25rem;
  top: 25%;
  left: 50%;
  white-space: nowrap;
}

@media (min-width: 768px) {
  .project {
    width: 100%;
    padding: 0.5rem;
  }
  .description {
    width: 90%;
  }
  .project-image {
    filter: grayscale(75%);
  }
  .project-link-title {
    text-decoration-line: none;
    color: light-lime;
  }
  .project-link:hover .project-link-title {
    color: lime;
    text-decoration-line: underline;
  }
  .project-link:hover .project-image-overlay {
    opacity: 1;
  }
  .project-link:hover .project-image {
    filter: grayscale(0);
    transform: scale(1);
  }
  .project-image-overlay {
    opacity: 0;
  }
  .featured-svg {
    width: 5rem;
    height: 5rem;
    top: -4.5rem;
    left: 1rem;
  }
}

@media (min-width: 1200px) {
  .project {
    padding: 1rem;
  }
  .project:only-child {
    width: 50%;
  }
  .project-link-title {
    font-size: 2rem;
    line-height: 1.2;
  }
  .featured-svg {
    width: 10rem;
    height: 10rem;
    top: -4rem;
    left: 2rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .project-link:hover .project-image {
    transform: scale(1.05);
  }
}
