@value colors: "@/colors.css";
@value dark-teal, lime from colors;

.scroll-margin {
  scroll-margin-top: 75px;
}

.skills-section {
  display: grid;
  grid-template-columns: 1fr;
  width: 80%;
  margin: 0 auto;
  grid-gap: 3px;
  background-color: dark-teal;
  border: 3px solid dark-teal;
}

.react-svg {
  top: -1.25rem;
  left: 3rem;
  color: #61dafb;
}

.react-svg > svg {
  width: 3rem;
  height: 3rem;
}

.javascript-svg {
  width: 3rem;
  height: 3rem;
  top: -0.5rem;
  left: -1rem;
}

.javascript-svg > svg {
  transform: rotate(-15deg);
}

.photoshop-svg {
  width: 3rem;
  height: 3rem;
  bottom: -1.5rem;
  right: 3rem;
  z-index: 1;
}
.photoshop-svg > svg {
  transform: rotate(-15deg);
}

.illustrator-svg {
  width: 2.75rem;
  height: 2.75rem;
  bottom: -1.5rem;
  left: 0.5rem;
  z-index: 1;
}
.illustrator-svg > svg {
  transform: rotate(-10deg);
}

.figma-svg {
  width: 2rem;
  height: 2rem;
  top: -1rem;
  right: 0.5rem;
}
.website-svg {
  top: -1.5rem;
  right: -1rem;
  color: #9969d1;
}
.website-svg > svg {
  transform: rotate(-15deg);
  width: 3rem;
  height: 3rem;
}
.collaboration-svg {
  bottom: -2rem;
  right: -1rem;
  color: lime;
}
.collaboration-svg > svg {
  width: 4rem;
  height: 4rem;
}

@media (min-width: 768px) {
  .skills-section {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
  .skills-section > :first-child {
    grid-column: span 2;
  }
  .react-svg {
    top: -2.25rem;
    left: 4rem;
  }
  .react-svg > svg {
    width: 4rem;
    height: 4rem;
  }
  .javascript-svg {
    width: 4rem;
    height: 4rem;
    top: -2rem;
  }
  .photoshop-svg {
    width: 4rem;
    height: 4rem;
    bottom: -2rem;
  }
  .illustrator-svg {
    width: 4rem;
    height: 4rem;
    bottom: -2rem;
  }
  .figma-svg {
    width: 3rem;
    height: 3rem;
  }
  .website-svg {
    top: -3rem;
    right: -2rem;
  }
  .website-svg > svg {
    width: 5rem;
    height: 5rem;
  }
  .collaboration-svg > svg {
    width: 5rem;
    height: 5rem;
  }
}

@media (min-width: 1200px) {
  .skills-section {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
  .skills-section > :first-child {
    grid-column: span 1;
  }
}
