@value colors: "@/colors.css";
@value lime from colors;

.projects {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  padding: 0.5rem 2rem;
  margin: 0 auto;
  width: 100%;
}

.filter {
  margin: 1rem auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.filter span {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.5rem;
  margin: 0.25rem;
  color: lime;
}

@media (min-width: 768px) {
  .projects {
    width: 85%;
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
    gap: 3rem;
  }
  .filter {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .projects {
    width: 80%;
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
    grid-auto-flow: dense;
  }

  .project-featured {
    grid-row: span 2 / auto;
    grid-column: span 2 / auto;
  }

  .project:nth-child(4),
  .project:last-child:nth-child(3n),
  .project:last-child:nth-child(3n - 1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .project:nth-child(4) {
    grid-column: span 2;
  }

  .project:last-child:nth-child(3n) {
    grid-column: span 2;
  }

  .project:last-child:nth-child(3n - 1) {
    grid-column: span 3;
  }

  .projects .project:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2 / auto;
    display: block;
  }
}
