@value colors: "@/colors.css";
@value light-teal, lime, green from colors;

h1,
h2 {
  margin: 0;
}

.landing-banner {
  color: lime;
}

.banner-text {
  width: 100%;
  height: 40vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landing-banner a {
  font-size: 1.25rem;
  margin: 2rem auto;
}

.description {
  font-size: 2rem;
  display: block;
  width: 90%;
}

.title {
  position: relative;
}

.sparkles {
  position: absolute;
  width: 5rem;
  width: 5rem;
  top: -4.75rem;
  right: -0.4rem;
}

.link-wrapper {
  margin-bottom: 0.1rem;
}

.highlight,
.typewriter {
  color: light-teal;
}

.cursor {
  animation: none;
}

@media (min-width: 768px) {
  .banner-text h1 {
    font-size: 4vw;
  }
  .banner-text h2 {
    font-size: 4vw;
  }
  .description {
    display: block;
    margin: 2rem auto;
  }
  .landing-banner a {
    text-decoration: none;
    font-size: 1.5rem;
    margin-bottom: 0.1rem;
    border-bottom: 2px solid;
    transition: all 300ms ease-out;
  }
  .landing-banner a:hover {
    color: green;
  }
  .sparkles {
    width: 7rem;
    width: 7rem;
    top: -4.5rem;
    right: -5.5rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .cursor {
    animation: blink 1s steps(1) infinite;
  }

  @keyframes blink {
    0% {
      opacity: 100%;
    }
    50% {
      opacity: 0;
    }
  }
}
