.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.text-block {
  width: 80%;
  font-size: 1.25rem;
  margin-top: 1rem;
}

.text-block p {
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .about-section {
    flex-direction: row;
    align-items: start;
  }
  .text-block {
    width: 50%;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .text-block {
    width: 35%;
  }
}
