.about-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.text-block {
  width: 80%;
  margin-top: 1rem;
}

.text-block p {
  margin-bottom: 1rem;
}

.card {
  width: 75%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0 2rem;
  z-index: 1;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.wrapper {
  width: 100%;
  transition: all 1s;
  position: relative;
  z-index: -1;
}

.title {
  width: 75%;
  position: absolute;
  transition: transform 1s;
  z-index: 1;
  border-radius: 1rem;
}

.character {
  width: 100%;
  opacity: 0;
  position: absolute;
  transition: all 1s;
  border-radius: 1rem;
}

.card:hover .wrapper {
  transform: perspective(900px) rotateX(5deg) translateZ(0);
  box-shadow: 0 20px 32px -8px rgba(0, 0, 0, 0.9);
  filter: brightness(40%);
}

.card:hover .title {
  transform: translateY(-50px);
}

.card:hover .character {
  opacity: 1;
  transform: translateY(-30%);
}

@media (min-width: 768px) {
  .about-section {
    flex-direction: row;
    align-items: start;
  }
  .text-block {
    width: 50%;
    margin-top: 0;
  }
  .card {
    width: 30%;
  }
}

@media (min-width: 1200px) {
  .text-block {
    width: 35%;
  }
  .card {
    width: 20%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .wrapper {
    transition: all 0.5s;
  }

  .title {
    transition: transform 0.5s;
  }

  .character {
    transition: all 0.5s;
  }
  .card:hover .wrapper {
    transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
    box-shadow: 0 20px 32px -8px rgba(0, 0, 0, 0.9);
    filter: brightness(40%);
  }

  .card:hover .title {
    transform: translateY(-50px);
  }

  .card:hover .character {
    opacity: 1;
    transform: translateY(-30%);
  }
}
